<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}">
  <head>
    <title>RentAnything</title>
  </head>
  <body>
    <main>
      <div th:each="category : ${categories}" class="bg-white shadow-md p-4">
        <a th:href="@{'/categories/' + ${category.id}}" class="block">
          <h2 th:text="${category.name}" class="text-lg font-semibold mt-2">
            Category Title
          </h2>
          <p
            th:text="${category.description}"
            class="text-sm text-gray-600 mt-2"
          ></p>
        </a>

        <!-- Item grid -->
        <div
          th:include="item_grid :: itemGrid(${category.getTop5Items()})"
        ></div>
      </div>
    </main>
  </body>
</html>
