<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Rent Anything</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
  </head>
  <body>
    <div>
      <header class="bg-green-600">
        <nav
          class="mx-auto flex flex-col md:flex-row max-w-7xl items-center justify-between p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex lg:flex-1 mb-4 md:mb-0">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">Rent Anything</span>
              <h2 id="NavLogo">Rent Anything</h2>
            </a>
          </div>
          <div class="flex mb-4 md:mb-0">
            <form th:action="@{/search}" method="get" class="flex">
              <input
                type="search"
                name="query"
                id="query"
                class="block w-64 px-4 py-2 text-sm font-semibold leading-6 text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
                placeholder="Search items"
              />
              <button
                type="submit"
                class="block ml-2 px-4 py-2 text-sm font-semibold leading-6 text-white bg-blue-500 border border-transparent rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              >
                Search
              </button>
            </form>
          </div>

          <div
            sec:authorize="!isAuthenticated()"
            class="lg:flex lg:flex-1 lg:justify-end mb-4 md:mb-0"
          >
            <a
              class="block rounded-md bg-green-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
              href="/login"
              >Log in</a
            >
          </div>

          <div
            sec:authorize="isAuthenticated()"
            class="lg:flex lg:flex-1 lg:justify-end mb-4 md:mb-0 relative"
          >
            <button
              id="menuButton"
              type="button"
              class="inline-flex items-center gap-x-1 text-sm font-semibold leading-6 text-white"
              aria-expanded="false"
            >
              <span sec:authentication="name"></span>
              <svg
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>

            <div
              id="menu"
              class="hidden absolute left-1/2 z-10 mt-5 flex w-screen max-w-min -translate-x-1/2 px-4"
            >
              <div
                class="w-56 shrink rounded-xl bg-white p-4 text-sm font-semibold leading-6 text-gray-900 shadow-lg ring-1 ring-gray-900/5"
              >
                <a href="/rentals" class="block p-2 hover:text-indigo-600"
                  >My Rentals</a
                >
                <hr />
                <section sec:authorize="hasRole('ROLE_ADMIN')">
                  <p class="block p-2 text-gray-600">Admin</p>
                  <a href="#" class="block p-2 hover:text-indigo-600"
                    >Security</a
                  >
                  <a href="#" class="block p-2 hover:text-indigo-600"
                    >Integrations</a
                  >
                  <a href="#" class="block p-2 hover:text-indigo-600"
                    >Automations</a
                  >
                  <a href="#" class="block p-2 hover:text-indigo-600"
                    >Reports</a
                  >
                  <hr />
                </section>

                <form th:action="@{/logout}" method="post" class="mt-2">
                  <button
                    id="Logout"
                    class="ml-1 rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
                    type="submit"
                  >
                    Log out
                  </button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <main th:replace="${content}">
        <p>The content here will be replaced</p>
      </main>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const menuButton = document.getElementById("menuButton");
      const menu = document.getElementById("menu");

      const toggleVisibility = () => {
        if (menu.classList.contains("hidden")) {
          menu.classList.remove("hidden");
          menu.classList.add(
            "transition",
            "ease-out",
            "duration-200",
            "opacity-0",
            "translate-y-1"
          );

          requestAnimationFrame(() => {
            menu.classList.remove("opacity-0", "translate-y-1");
            menu.classList.add("opacity-100", "translate-y-0");
          });
        } else {
          menu.classList.add(
            "transition",
            "ease-in",
            "duration-150",
            "opacity-100",
            "translate-y-0"
          );

          requestAnimationFrame(() => {
            menu.classList.remove("opacity-100", "translate-y-0");
            menu.classList.add("opacity-0", "translate-y-1");
          });

          setTimeout(() => {
            menu.classList.add("hidden");
          }, 150);
        }
      };

      menuButton.addEventListener("click", toggleVisibility);

      document.addEventListener("click", (event) => {
        console.log("clicked on", event.target);
        if (
          !menuButton.contains(event.target) &&
          !menu.contains(event.target) &&
          !menu.classList.contains("hidden")
        ) {
          toggleVisibility();
        }
      });
    });
  </script>
</html>
