<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::main})}">
  <head>
    <title>Categories | RentAnything</title>
  </head>
  <body>
    <main>
      <div class="p-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">
              <span sec:authentication="name">User</span>'s Rentals
            </h1>
            <p class="mt-2 text-sm text-gray-700">
              A list of all your rented items.
            </p>
          </div>
        </div>
        <div class="mt-8 flow-root">
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div
              class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
            >
              <div
                class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
              >
                <table class="min-w-full divide-y divide-gray-300">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                      >
                        Item
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Price
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Rent started
                      </th>
                      <th
                        scope="col"
                        class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                      >
                        Date returned
                      </th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                    <tr th:each="rental : ${rentals}">
                      <td
                        class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                      >
                        <a
                          class="text-blue-500 hover:underline"
                          th:text="${rental.item.name}"
                          th:href="@{'/items/' + ${rental.item.id}}"
                          >Item</a
                        >
                      </td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                        th:text="${rental.item.priceFormatted() + '&euro; /day'}"
                      >
                        Price
                      </td>
                      <td th:text="${rental.rentalStartFormatted}">
                        Start Date
                      </td>
                      <td
                        class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                        th:text="${rental.rentalEndFormatted}"
                      >
                        End Date
                      </td>
                      <td
                        class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                      >
                        <form
                          th:if="${rental.rentalEnd} == null"
                          th:action="@{'/rentals/' + ${rental.id} + '/return'}"
                          th:method="POST"
                        >
                          <button
                            type="submit"
                            class="p-2 rounded-sm bg-blue-600 text-white hover:bg-indigo-900"
                          >
                            Return
                          </button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
